@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins medium';
  src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins bold';
  src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'PlayFairDisplay';
  src: url('fonts/PlayfairDisplay-Regular.ttf') format('ttf');
}
