@tailwind base;
@tailwind components;

@tailwind utilities;

@import url('/fonts/fonts.css');

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'PlayFairDisplay';
  src: url('/fonts/PlayfairDisplay-Regular.ttf'format('ttf'));
}

body {
  width: 100vw;
  overflow-x: hidden;
  @apply font-Poppins;
}

h1,
h2,
h3,
h4 {
  @apply font-PlayFairDisplay;
}

p,
a,
label,
input,
span,
div,
ul,
li {
  @apply font-Poppins;
}

.transition-all {
  transition: transform 0.3s ease-in-out;
}

.notActive {
  transform: translate(100%, 0) !important;
}

.active {
  transform: translate(0, 0) !important;
}

.scroller {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.scroller::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.productDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect,
.form-input:focus,
.form-textarea:focus,
.form-select:focus,
.form-multiselect:focus,
.form-input:focus-visible,
.form-radio:focus {
  border-color: #d6d6d6;
  --tw-ring-color: transparent;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #000, 0 0 5px #000;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #000;
  border-left-color: #000;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
